body {
    background-color: #f5f5dd;
}

.square {
    width: 130px;
    height: 130px;
    background-color:rgba(0, 0, 0,  100%);
    margin: 10px;
    margin-left: 40px;
}

#square1 {
    background-color: rgba(0, 0, 0, 75%);
}

#square2 {
    background-color: rgba(0, 0, 0, 50%);
}

#square3 {
    background-color: rgba(0, 0, 0, 25%);
}